@font-face {
    font-family: 'TT Commons Regular';
    src: url('../assets/fonts/TT\ Commons\ Regular.otf') format('otf');
}


@keyframes animacao_lendario {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: violet;
    }
}



@keyframes animacao_epico {
    from {
        color: lightblue;
        
    }
    to {
        color: purple;
    }
    
}


@font-face {
    font-family: 'TT Commons Regular';
    src: url('../assets/fonts/TT\ Commons\ Regular.otf') format('otf');
}



.lendario_grafico {
    animation: animacao_lendario2 6s infinite;
}

.epico_grafico {
    animation-name: animacao_epico2;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.comum {
    color: grey;
}
.incomum{
    color: blue;
}
.raro {
    color: orange;
}
.epico{
    animation-name: animacao_epico;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.lendario{
    animation-name: animacao_lendario;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
        
        

body {
    font-family: 'TT Commons Regular', sans-serif;
  
    margin: 0%;
    padding: 0%;

    background: black;

               
    min-height: 300vh;
    height: auto;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar{
    display: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;

}

.box1 {
    background-image: url('../assets/17c0062c6980166915c5a566a1558bbb.gif');
    background-repeat: no-repeat;
    background-size: 100%; /* Ou use 'contain' se preferir */
    background-position: start;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mascara{
    background-image: linear-gradient(rgb(0,0,0,0.95), rgb(0,0,0,0), rgb(0,0,0,0.95));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mascara2{
    background-image: linear-gradient(rgb(0,0,0,1), rgb(0,0,0,0), rgb(0,0,0,0.95));
    min-height: 100vh;
    height: auto;
}
.box2 {

    background-image: linear-gradient(rgb(0,0,0,0.80), rgb(0,0,0), rgb(0,0,0,0.95));
    color: white;
    min-height: 100vh;
    height: auto;
}
.box3 {
    background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    min-height: 100vh;
    height: auto;
}


.header {
    z-index: inherit;
    color: white;   
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: #132D46;
    border-bottom: #01C38D solid 1px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: white;
}
.input a {
    text-decoration: underline;
    color: blue;
}

.login{
    text-align: center;
    width: 100px;
   
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}
.header_creditos{
    text-align: center;
    width: 200px;
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}
.sobre{
    text-align: center;
    width: 80px;
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}
.cadastro{
    text-align: center;
    width: 60px;
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}

.login a {
    text-decoration: none;
}
.login:hover {
    transition: 0.1s;
    transform: scale(1.08);
    cursor: pointer;

}
.sobre:hover {
transition: 0.1s;
transform: scale(1.08);
cursor: pointer;

}
.cadastro:hover {
transition: 0.1s;
transform: scale(1.08);
cursor: pointer;
}
.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    gap: 12px;
}

.conteudo {
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .25);
    color: white;
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo_img {
    background-color: rgb(255, 255, 255, .15);
    color: white;
    width: 290px;
    height: 386px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}
.conteudo_img:hover{
    cursor: pointer;
    transition: 0.1s;
    transform: scale(1.06);
    box-shadow: 1px 1px 8px 8px #D9D9D9;
}





.box2 .conteudo{
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
}
.box2 .conteudo p{
    text-align: center;

}
.box2 .conteudo img {
    width: 275px;
    border-radius: 10px;
}


.conteudo p {
    text-align: center;
}

.alinha_imagem {
    
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.bo2 {
    opacity: 0;
    transition: opacity 0.25s ease;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .50);
    color: white;
    width: 45%;
    height: 80%;
    display: none;
    align-items: center;
    justify-content: center;
}
.lol {
    opacity: 0;
    transition: opacity 0.25s ease;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .50);
    color: white;
    width: 45%;
    height: 80%;
    display: none;
    align-items: center;
    justify-content: center;
}
.ark {
    opacity: 0;
    transition: opacity 0.25s ease;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .50);
    color: white;
    width: 45%;
    height: 80%;
    display: none;
    align-items: center;
    justify-content: center;
}
 .botao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.botao button {
    background-color: rgb(255, 255, 255, .15);
    color: white;
}
.box2 button:hover{
    cursor: pointer;
}


.painel {
    opacity: 0;
    transition: all 0.75s;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: none;
    min-height: 45vh;
    height: auto;
    width: 50%;
    background: #191E29;
    border: #01c38d solid 2px;
    border-radius: 5px;
    color: #FFFFFF;
    
}
.visible_painel {
    opacity: 1;
    min-height: 75vh;
    width: 60%;

}
.painel .header {
    display: flex;
    justify-content: space-between;
    background-color: #132D46;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 7vh;
}
.painel .header .mensagem3 {
margin-left: 45%;
}
.painel .texto {
    font-size: 30px;
    align-items: end;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30%;
}
.painel2 {
    opacity: 0;
    transition: all 0.75s;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    min-height: 45vh;
    height: auto;
    width: 50%;
    background: #191E29;
    border: #01c38d solid 2px;
    border-radius: 5px;
    color: #FFFFFF;
    
}
.visible_painel2 {
    opacity: 1;
    min-height: 75vh;
    width: 60%;

}
.painel2 .header {
    display: flex;
    justify-content: space-between;
    background-color: #132D46;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 7vh;
}
.painel2 .header button {
    height: 100%;
    width: 7%;
    background: transparent;
    border: transparent;
    font-size: 25px;
    color: #01C38D;
    }
.painel2 .header .mensagem3 {
margin-left: 5%;
}
.painel2 .texto {
    font-size: 30px;
    align-items: end;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30%;
}
.baus {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.bau {
    opacity: 0;
    display: none;
    transition: all 1s;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bau2 {
    opacity: 0;
    display: none;
    transition: all 1s;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visible_bau {
    opacity: 1;

}
.bau img {
    width: 30%;
    height: 60%;
}
.bau img:hover {
    cursor: pointer;
    
}
.painel2 button:hover {
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1.08);
    
}
.mensagem_inventario {

    color: #01C38D;
    height: auto;
    min-height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.mensagem{
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10%;
}


.inventory-container {
    background-color: #132D46;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 75%;
    text-align: center;
    margin-bottom: 50px;
    
}

#searchBar {
    background-color: #191E29;
    align-items: start;
    display: flex;
    width: 30%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 35px;
    color: #01C38D;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.inventory-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.inventory-item {
    margin-left: 35px;
    margin-top: 10px;
    width: 75%;
    background-color: #191E29;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.inventory-item:hover {
    background-color: #d1d1d1;
    border-color: #aaa;
}

.inventory-item:active {
    background-color: #c1c1c1;
    border-color: #888;
}

.inventory-item img {
    width: 100%;
    height: 100px;
    scale: 0.45;
    margin-top: 10px;
}

.inventory-item p {
    margin: 0;
    font-weight: bold;
}

.dashboard_barra{
    margin-top: 40px;
    width: 100%;
    height: auto;
    min-height: 200px;
    gap: 50px;
    display: flex;
    align-items: center;
    color: #01C38D;
    flex-direction: column;
    font-size: 20px;
}

.dashboard_donut{
    margin-top: 40px;
    width: 100%;
    height: auto;
    min-height: 200px;
    gap: 50px;
    display: flex;
    align-items: center;
    color: #01C38D;
    flex-direction: column;
    font-size: 20px;

}
.painel_graficos {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 200px;
    height: auto;
}
