
@keyframes animacao_lendario {
    0% {
        color: red;
    }
    20% {
        color: orange;
    }
    40% {
        color: yellow;
    }
    60% {
        color: green;
    }
    80% {
        color: blue;
    }
    100% {
        color: violet;
    }
}
@keyframes animacao_epico {
    from {
        color: lightblue;
        
    }
    to {
        color: purple;
    }
    
}
@font-face {
    font-family: 'TT Commons Regular';
    src: url('../assets/fonts/TT\ Commons\ Regular.otf') format('otf');
}


.comum {
    color: grey;
}
.incomum{
    color: blue;
}
.raro {
    color: orange;
}
.epico{
    animation-name: animacao_epico;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.lendario{
    animation-name: animacao_lendario;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.box1 {
    background-image: url('https://images.unsplash.com/photo-1511512578047-dfb367046420?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bau {
    opacity: 0;
    display: none;
    transition: all 1s;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visible_bau {
    opacity: 1;

}
.bau img {
    width: 10%;
    height: 60%;
}
.mensagem {
    height: auto;
    min-height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.mensagem2 {
    height: auto;
    min-height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.mensagem table{
    width: 100%;
    
}
.mensagem td, th {
    text-align: center;
    padding: 8px;
  }


.mensagem span{
    margin-left: 5%;

}

.mensagem_inventario {

        height: auto;
        min-height: 15vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
.bau img:hover {
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1.08);
    
}
.bau_aberto img{    
    transition: 1s;
    width: 15%;
}

.bau_opcoes img{
    width: 40%;
    height: 60%;
}
.bau_opcoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bau_opcoes img:hover {
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1.08);
    
}
        
        

body {
    font-family: 'TT Commons Regular', sans-serif;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

::-webkit-scrollbar{
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

.header {
    z-index: inherit;
    color: white;   
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    background-color: #132D46;
    border-bottom: #01C38D solid 1px;
    margin-bottom: 50px;
}


a {
    text-decoration: none;
    color: white;
}
.input a {
    text-decoration: underline;
    color: blue;
}

.login{
    text-align: center;
    width: 100px;
   
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}
.sobre{
    text-align: center;
    width: 80px;
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}
.cadastro{
    text-align: center;
    width: 60px;
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}

.login a {
    text-decoration: none;
}
.login:hover {
    transition: 0.1s;
    transform: scale(1.08);
    cursor: pointer;

}

.header_creditos{
    text-align: center;
    width: 200px;
    border-bottom:rgb(1, 195, 141, 0.1) solid 2px;
    border-radius: 5px;
}
.sobre:hover {
transition: 0.1s;
transform: scale(1.08);
cursor: pointer;

}
.cadastro:hover {
transition: 0.1s;
transform: scale(1.08);
cursor: pointer;
}
.mascara{
    background: rgb(25,30,41);
    background: linear-gradient(180deg, rgba(25,30,41,0.7) 0%, rgba(19,45,54,0.7) 29%, rgba(19,45,54,0.7) 84%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painel {
    opacity: 0;
    transition: all 0.75s;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: none;
    min-height: 45vh;
    height: auto;
    width: 50%;
    background: #191E29;
    border: #01c38d solid 2px;
    border-radius: 5px;
    color: #FFFFFF;
    
}
.visible_painel {
    opacity: 1;
    min-height: 75vh;
    width: 60%;

}
.painel .header {
    background-color: #132D46;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 7vh;
}
.painel .texto {
    font-size: 30px;
    align-items: end;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30%;
}

.painel_bau_loja{
    opacity: 0;
    transition: all 0.75s;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    display: none;
    min-height: 45vh;
    height: auto;
    width: 50%;
    background: #191E29;
    border: #01c38d solid 2px;
    border-radius: 5px;
    color: #FFFFFF;
}
.visible_painel_bau_loja {
    opacity: 1;
    min-height: 75vh;
    width: 50%;

}
.painel_bau_loja .header {
    display: flex;
    justify-content: end;
    background-color: #132D46;
    color: #FFFFFF;
    border-radius: 5px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    height: 7vh;
}

.painel_bau_loja .header button {
height: 100%;
width: 7%;
background: transparent;
border: transparent;
font-size: 25px;
color: #01C38D;
}
.confirmar_botao{
transition: linear 1s;
opacity: 0;
height: 25%;
width: 5%;
background: transparent;
border: transparent;
font-size: 15px;
color: #01C38D;
}
.confirmar_botao_visivel{
    opacity: 1;
    height: 30%;
}

.confirmar_botao:hover{
transition: 0.1s;
transform: scale(1.05);
cursor: pointer;
}
.painel_bau_loja .header button:hover {
    cursor: pointer;
}
.mensagem {
    display: flex;
    justify-content: center;
    align-items: start;
    color: #01C38D;
    height: 100%;
    
}
.mensagem3 {
    display: flex;
    justify-content: center;
    align-items: end;
    color: #01C38D;
    height: 100%;
    margin-bottom: 3%;
}

.decisao {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
}
.input_qtd{
    background-color: transparent;
    border-right: transparent;
    border-bottom-color: #01C38D;
    color: #01C38D;
    width: 40%;
    text-align: center;
}
.aviso_compra_sucesso{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-top: 80px;
    width: 450px;
    height: 300px;
    background-color: #132D46;
    border-radius: 10px;
    color: #FFFFFF;
    border: #01c38d solid 2px;
    opacity: 0;
    transition: all 0.7s;
}
.escurecer_tela {
    background-color: rgb(0,0,0);
    z-index: 1;
}
.visivel{
    opacity: 1;
}